# Lab Assignment 1 -- Fundamentals & Collections
In this lab, you will complete a series of exercises related to the lecture material on coding fundamentals and collections. 

Since this is the first lab that involves coding, we will begin with an exercise related to Jupyter notebook functionality.

## Exercise 1 -- Jupyter Markdown Basics
Jupyter notebooks allows cells to be interpreted as either code or Markdown. Markdown is a lightweight formatting language. In fact, what you're reading right now is written in Markdown. The syntax is very simple and a reference for common commands can be found [here](https://www.markdownguide.org/cheat-sheet/). Use this reference guide to complete the following steps:

1. Create a cell below this one by using the insert drop down menu or by clicking on the left of this box (so the side bar turns blue) and tapping the <kbd>b</kbd> key.
2. Make the cell a Markdown cell by clicking on it and using the drop down menu above.
3. Using the reference guide, find out how to create the **smallest** heading  and use it give the cell you create a header of "Solution to Exercise 1" without the quotes.
4. Using the reference guide, figure out how to make ordered and unordered lists. Using an unordered list, list three of the things you hope to learn from this class.
5. Sometimes, we want to reference specific code or code objects in the text of Markdown. Markdown allows us to format such reference so that it appears in a gray box (e.g. `x=3`). Using the reference guide, figure out how to format code and format  x = 3, so it has a gray box around it in the cell you created.

## Exercise 2 -- Basic Variable Assignment
Complete the following steps in the cells below.
1. Generate a variable called `x_flt` and set it equal to 3.0. Print its type.
2. Generate a variable called `x_int` and set it equal to 3. Print its type.
3. Generate a variable called  `x_str` and set it equal to "3". Print its type.
4. Which of these two variables can you add together with the `+` operator? Why? Answer in the Markdown cell below.

In [1]:
# Exercise 2 Code
x_flt = 3.0
print(type(x_flt))

x_int = 3
print(type(x_int))

x_str = "3"
print(type(x_str))

<class 'float'>
<class 'int'>
<class 'str'>

### Response to 2.4
x_flt and x_int can be added together because x_flt is float type and x_int is integer. x_str cannot be added because it is a string.

## Exercise 3 -- Variable Reassignment
Complete the following steps in the cells below.
1. Assign `x` equal to `"good"`
2. Assign `y` equal to `x`
3. Reassign `x` to `"bad"`
4. Use `print` to print `y`
5. Does the print statement print "good" or a "bad"? Did changing `x` to "bad" affect anything? Why or why not? Answer in the Markdown cell below.

In [2]:
# Exercise 3 Code
x = "good"
y = x
x = "bad"
print(y)

good

### Response to 3.5
It prints a "good". Changing x to "bad" only changes x value instead of y value. Because it is passing by value instead of passing by reference.

## Exercise 4 -- Basic Arithmetic
Generate the following variables with the corresponding value in the cell below:
1. `x` equal to 20
2. `y` equal to 10
3. `z1` equal to the sum of `x` and `y`
4. `z2` equal to `x` minus `y`
5. `z3` equal to `x` times `y` 
6. `z4` equal to `x` divided by `y` 

Answer the following question in the Markdown Cell Below

7. Use `type()` to deterimine which of these variables is a floating point number? Why is this the case?

In [4]:
# Exercise 4 Code
x = 20
y = 10
z1 = x + y
z2 = x - y
z3 = x * y
z4 = x / y
print(type(z1))
print(type(z2))
print(type(z3))
print(type(z4))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>

### Response to 4.7
type(z1) -- int
<br>
type(z2) -- int
<br>
type(z3) -- int
<br>
type(z4) -- float
<br>
because / is the operator for float, it implicitly casts the x and y from int to float, so the final result is float.

## Exercise 5 -- String Formatting
Complete the following steps in the cell below:
1. Define a list called `cities` that contains the names of three cities you would like to visit. 
2. Define a corresponding list called `countries` where an entry is the country of each of those three cities.
3. Using these lists and f strings, print a sentence that says what country a city is in for each city in your list
4. Now do the same thing again but use the `.format()` method instead of f strings.

In [551]:
# Exercise 5 Code
cities = ["Paris","Tokyo","Wuxi"]
countries = ["France","Japan","China"]

## Exercise 6 -- String Concatenation
Complete the following steps in the cell below:
1. Assign `b` to be equal to "b"
2. Assign `a` to be equal to "a"
3. Assign `n` to be equal to "n"
4. Using these variables, `+`, and `print`, print the the word "banana"

In [5]:
# Exercise 6 Code
b = "b"
a = "a"
n = "n"
print(b+a+n+a+n+a)

banana

## Exercise 7 -- Boolean Variable Keywords
Assign `a`, `b`,`c`, and `d`, so that every print statement below is true. 


Afterwards, answer the following quesiton in the Markdown cell below:

Is the configuration of `a`, `b`,`c`, and `d` that makes both statements true unique? Why or why not? If it isn't unique, add another print statement to the list to rule out other configurations?

In [6]:
# Exercise 7 Code
a = 0
b = 0
c = 0
d = 0

In [7]:
# Uncomment the lines below when you have defined the variables to check your results 
print(((a and b) or (c and d)) == False)
print(((a or c) and (b or d)) == False)

True
True

### Response to 7

## Exercise 8 -- Comparison Operators
Using `num_list` and list comprehensions, create three lists that correspond to the elements in num_list:
1. `equal_list` whose elements should be true if the corresponding element in `num_list` is equal to 0 and false otherwise.
2. `greater_list` whose elements should be true if the corresponding element in `num_list` is strictly greater than 0 and false otherwise.
3. `lesser_list` whose elements should be true if the corresponding element in `num_list` is strictly less than 0 and false otherwise.
4. Finally, using the three lists you generated, list comprehensions, and `zip()`, create `true_list` a list of length 7 where every element is true. 

**Hints for 4:** 
- `zip` can be used on more than two lists
- use `or` within the list comprehension

In [31]:
# Exercise 8 Code
# Don't edit the line below
num_list = [-5, -3, -1, 0, 1, 3, 5]

# your code below here

## Exercise 9 -- Lists
Complete the following steps in the cells below:
1. Add two different elements from `num_list` together so that the sum is 0. Print the result.
2. Using `.append()`, add a 7 to the end of `num_list`
3. Using `.insert()`, add a -7 to the start of `num_list`
3. Change each element of `num_list` individually so that it it is equal to the list `[-4, -3, -2, -1, 0, 1, 2, 3, 4]`
4. Use the list method `.reverse()` on `num_list` then print `num_list`. What does `.reverse()` do?  Did `.reverse()` change `num_list`?  Answer in the Markdown Cell.

In [23]:
# Exercise 9 Code
print(num_list[0]+num_list[-1])
num_list.append(7)
num_list.insert(0,-7)
num_list[0]=-4
num_list[1]=-3
num_list[-2]=3
num_list[2]=-2
num_list[-3]=2
num_list[-1]=4
print(num_list)
num_list.reverse()
print(num_list)

0
[-4, -3, -2, -1, 0, 1, 2, 3, 4]
[4, 3, 2, 1, 0, -1, -2, -3, -4]

### Response to Exercise 9.5
It reverses the list.

## Exercise 10 -- Dictonaries
First, define a dictonary called `my_dict`. It should contain four keys:
- "name"
- "major"
- "favorite artist"
- "favorite food"

Fill out the values to match your name, major, etc.

Using `my_dict` and string formatting, print a sentence in the cell below that says who you are, what your major is, your favorite artist, and your favorite food.

In [29]:
# Exercise 10 Code
my_dict = {"name":"Yassin Gu","major":"Landscape Architecture","favorite artist":"Van Gogh","favorite food":"rice"}
print("my name is "+my_dict["name"]+".my major is "+my_dict["major"]+ ".my favorite artist is "+my_dict["favorite artist"]+".my favorite food is "+my_dict["favorite food"])

my name is Yassin Gu.my major is Landscape Architecture.my favorite artist is Van Gogh.my favorite food is rice

## Exercise 11 -- Type Conversion
We can use functions like `int()`, `float()`, and `str()` to convert from one type into another. Use them to complete the following tasks:
1. Define a variable called `revenue` that is equal to price times quanitity. You can only use the strings that are already defined, the conversion functions above, and the `*` operator. 
2. Use `str()` to convert `revenue` into a string with a dollar sign in fron. Call this new variable `revenue_string` and print it. 


**Hint:** How can you remove the dollar sign before conversion?

In [33]:
# Exercise 12 Code
price_string  = "$7.50" # don't edit
quantity_string = "10" # don't edit

# your code here
revenue = float(price_string.replace("$",""))*int(quantity_string)
print(revenue)
revenue_string = "$"+str(revenue)

75.0

## Exercise 12 -- Modules and Very Basic Plotting
Complete the following steps in the cells below:
1. Import the `math` module and give it an alias of `mt`.
2. Import the `matplotlib.pyplot` module and give it an alias of `plt`.
3. Create a variable named `num_range` and set it equal to a range of numbers from 0 to 1000 (including 1000).
4. Using `num_range` and a list comprehension, create a list called `sine_list` that is equal to `sin((pi/100) * x)` for every `x` in the range `num_range`. (**Hint:** sin and pi are objects from the math library.)
5. Finally, using `plt`, `num_range`, and `sine_list`, generate a line plot.

In [559]:
# Exercise 12 Code